<h1>Nuevo Artículo</h1>

<form action="/articulos/save" method="POST">
  <label>Descripción:</label><input type="text" name="descripcion"><br>
  <label>Precio S/:</label><input type="number" name="precio_soles"><br>
  <label>Cantidad:</label><input type="number" name="cantidad"><br>
  <label>Stock:</label><input type="number" name="stock"><br>
  <label>Precio $:</label><input type="number" name="precio_dolares"><br>
  <label>Marca:</label><input type="text" name="marca"><br>
  <label>Modelo:</label><input type="text" name="modelo"><br>
  <button type="submit">Guardar</button>
</form>
